
:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
}
/* Styles body */
body {
  background-color: #ffffff;
  color: var(--primary-text-color);
}
/* Class-utility .list - прибирає маркери у списках */
.list {
  list-style: none;
}
/* Class-utility .link - прибирає підкреслення у посиланнях (in logo) */
.link-decoration a {
  text-decoration: none;
}
/* Site nav */
/* Classes logo */
.logo {
  color: #000000;
}
.logo-footer {
  color: #ffffff;
}
.logo-web {
  color: #2196f3;
}
/* Styles links in header */
.nav-ul-site .link {
  color: var(--title-text-color);
}
.nav-ul-site .link:hover,
.nav-ul-site .link:focus {
  color: var(--accent-color);
}
.nav-ul-site .link.current {
  color: var(--accent-color);
}
.header-contacts .link {
  color: var(--primary-text-color);
}
.header-contacts .link:hover,
.header-contacts .link:focus {
  color: var(--accent-color);
}
/* Styles for title sections Studio */
/* Hero section Studio */
.hero-title {
  color: #ffffff;
}
.saction-title {
  color: var(--title-text-color);
}
.our-names {
  color: #212121;
}
/* Styles of the Hang section */
.hang-list .hang-title {
  color: var(--title-text-color);
}
.button-title {
  color: #ffffff;
}
.address-footer .link {
  color: #ffffff;
}
.contacts-footer {
  color: rgba(255, 255, 255, 0.6);
}
/* Styles for background */
/* Class for header */
.header-page {
  background-color: #ececec;
}
/* Backgroung hero-section */
.hero {
  background-color: #2f303a;
}
.hero-button {
  background-color: #2196f3;
  border-color: #2196f3;
}
.our-team {
  background-color: #f5f4fa;
}
.footer-back {
  background-color: #2f303a;
}

/* Styles of Portfolio page */
/* Styles for title sections Prtfolio */
/* Hero section Prtfolio */
.hero-portfolio-title {
  color: var(--title-text-color);
}
.container-title {
  color: var(--title-text-color);
}
/* Buttons system */
.button {
  color: var(--title-text-color);
  background-color: #f5f4fa;
}
.button:hover,
.button:focus {
  color: #ffffff;
  background-color: #2196f3;
}
.container-border > li {
  border: 1px solid #EEEEEE;
}